.footer-crypto {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 30px 10px 30px;
}

.footer-bg {
    display: grid;
    gap: 30px;
}

.footer-contato {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-contato p,
a {
    text-decoration: none;
    color: #495057;
    font-size: 1.125rem;
}

.footer-contato a:hover {
    color: #0A3871;
}

.footer-copy {
    display: flex;
    justify-content: center;
    color: #495057;
    font-size: 1.125rem;
}